<div class="list">
  <% if @bikeestations == nil %>
  <% elsif @bikeestations.length != 0 %>
    <table class="table">
      <thead>
        <tr>
          <th scope="col">station</th>
          <th scope="col">empty slots</th>
          <th scope="col">free bikes</th>
        </tr>
      </thead>
      <% @bikeestations.each do |elem| %>
      <tbody>
        <tr>
          <th scope="row"><%= elem.name %></th>
          <td><%= elem.empty_slots %></td>
          <td><%= elem.free_bikes %></td>
        </tr>
      </tbody>
      <% end %>
    </table>
  <% else %>
    <div style="color: red">Enter a valid adress</div>
  <% end %>
  </div>
</div>


<script>
  mymap.off();
  mymap.remove();
  <% if @bikeestations == nil %>
    var mymap = L.map('mapid').setView([48.85, 2.35], 16);
    L.tileLayer('https://api.tiles.mapbox.com/v4/{id}/{z}/{x}/{y}.png?access_token={accessToken}', {
    attribution: 'Map data &copy; <a href="https://www.openstreetmap.org/">OpenStreetMap</a> contributors, <a href="https://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>, Imagery © <a href="https://www.mapbox.com/">Mapbox</a>',
    maxZoom: 18,
    id: 'mapbox.streets',
    accessToken: 'pk.eyJ1Ijoibmljb3pmIiwiYSI6ImNqeDV0Z3pqajA1NWY0M3F0ajhqMzl5eXQifQ.IlrJnYSW7f_TH5FTUu-Btg'
    }).addTo(mymap);
  <% elsif @bikeestations.length != 0 %>
    var mymap = L.map('mapid').setView([<%= @latitude %>, <%= @longitude %>], 16);
    L.tileLayer('https://api.tiles.mapbox.com/v4/{id}/{z}/{x}/{y}.png?access_token={accessToken}', {
    attribution: 'Map data &copy; <a href="https://www.openstreetmap.org/">OpenStreetMap</a> contributors, <a href="https://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>, Imagery © <a href="https://www.mapbox.com/">Mapbox</a>',
    maxZoom: 18,
    id: 'mapbox.streets',
    accessToken: 'pk.eyJ1Ijoibmljb3pmIiwiYSI6ImNqeDV0Z3pqajA1NWY0M3F0ajhqMzl5eXQifQ.IlrJnYSW7f_TH5FTUu-Btg'
    }).addTo(mymap);
    var circle = L.circle([<%= @latitude %>, <%= @longitude %>], {
      color: 'green',
      fillOpacity: 0.7,
      radius: 10
    }).addTo(mymap)
    .bindPopup("You're here");;
  
    <% @bikeestations.each do |elem| %>
    L.marker([<%= elem.latitude %>, <%= elem.longitude %>]).addTo(mymap)
        .openPopup();
    <% end %>
  <% else %>
    var mymap = L.map('mapid').setView([48.8721312, 2.3466598], 16);
    L.tileLayer('https://api.tiles.mapbox.com/v4/{id}/{z}/{x}/{y}.png?access_token={accessToken}', {
    attribution: 'Map data &copy; <a href="https://www.openstreetmap.org/">OpenStreetMap</a> contributors, <a href="https://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>, Imagery © <a href="https://www.mapbox.com/">Mapbox</a>',
    maxZoom: 18,
    id: 'mapbox.streets',
    accessToken: 'pk.eyJ1Ijoibmljb3pmIiwiYSI6ImNqeDV0Z3pqajA1NWY0M3F0ajhqMzl5eXQifQ.IlrJnYSW7f_TH5FTUu-Btg'
    }).addTo(mymap);
  <% end %>
</script>