<br> 
<center><div class="container">
   <div class="card" style="width: 18rem;">
   <%= image_tag asset_path('bikee_logo.jpg') %>
      <div class="card-body">
         <h1 class="card-text">My Bikee.</h1>
      </div>
   </div><br> 
</div><center>

 <div id="mapid"></div>

 <script>

    var mymap = L.map('mapid').setView([48.85, 2.35], 16);

    L.tileLayer('https://api.tiles.mapbox.com/v4/{id}/{z}/{x}/{y}.png?access_token={accessToken}', {
    attribution: 'Map data &copy; <a href="https://www.openstreetmap.org/">OpenStreetMap</a> contributors, <a href="https://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>, Imagery © <a href="https://www.mapbox.com/">Mapbox</a>',
    maxZoom: 18,
    id: 'mapbox.streets',
    accessToken: 'pk.eyJ1Ijoibmljb3pmIiwiYSI6ImNqeDV0Z3pqajA1NWY0M3F0ajhqMzl5eXQifQ.IlrJnYSW7f_TH5FTUu-Btg'
    }).addTo(mymap);

 </script>



<div class="container">
  <%= form_tag root_path, method: :get, remote: true do %>
  <div class="row">
    <div class="m-3">
      "msmsms"
    </div>
    <div class="m-3">
      <%= text_field_tag 'address','', class: "form-control form-control-sm", placeholder:"Ton Adresse"%>
    </div>
    <div class="m-3">
      <%= submit_tag "Search", class: "btn btn-outline-info btn-sm " %>
    </div>
  </div>
  <% end %><br/>


   <div class="list">
    <table class="table">
      <thead>
        <tr>
          <th scope="col">Station</th>
          <th scope="col">Empty slots</th>
          <th scope="col">Free bikes</th>
        </tr>
      </thead>

      <tbody>
        <tr>
          <th scope="row"><%=  %></th>
          <td><%=  %></td>
          <td><%=  %></td>
        </tr>
      </tbody>

    </table>
   </div>